@CHARSET "ISO-8859-1";

.variantAfrica .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global */
.variantAfrica .country1 { color: rgb(107, 182, 220)! important; } /* DRC */
.variantAfrica .country2 { color: rgb(210, 158, 107)! important; } /* Egypt */
.variantAfrica .country3 { color: rgb(241, 143, 126)! important; } /* Ethiopia */
.variantAfrica .country4 { color: rgb(176, 158, 192)! important; } /* Madagascar */
.variantAfrica .country5 { color: rgb(193, 184, 32)! important; } /* Mali */
.variantAfrica .country6 { color: rgb(225, 143, 158)! important; } /* Morocco */
.variantAfrica .country7 { color: rgb(126, 192, 158)! important; } /* Nigeria */
.variantAfrica .country8 { color: rgb(158, 171, 207)! important; } /* South Africa */

.variantAfrica .occupationBar1 { background-color: #0080C0; } /* DRC */
.variantAfrica .occupationBar2 { background-color: #C0A000; } /* Egypt */
.variantAfrica .occupationBar3 { background-color: #E02000; } /* Ethiopia */
.variantAfrica .occupationBar4 { background-color: #604080; } /* Madagascar */
.variantAfrica .occupationBar5 { background-color: #EAEAAF; } /* Mali */
.variantAfrica .occupationBar6 { background-color: #C02040; } /* Morocco */
.variantAfrica .occupationBar7 { background-color: #008040; } /* Nigeria */
.variantAfrica .occupationBar8 { background-color: #002080; } /* South Africa */