.variantWWIV_V6 .country0  { color: rgba(255, 255, 255, 0.8) ! important; }  /* Global         */
.variantWWIV_V6 .country1  { color: rgb(136, 161, 255) ! important; }  /* Amazon-Empire  */
.variantWWIV_V6 .country2  { color: rgb(208, 162, 30) ! important; }  /* Argentina      */
.variantWWIV_V6 .country3  { color: rgb(124, 163, 255) ! important; }  /* Australia      */
.variantWWIV_V6 .country4  { color: rgb(240, 142, 132) ! important; }  /* Brazil         */
.variantWWIV_V6 .country5  { color: rgb(226, 136, 220) ! important; }  /* California     */
.variantWWIV_V6 .country6  { color: rgb(168, 168, 87) ! important; }  /* Canada         */
.variantWWIV_V6 .country7  { color: rgb(15, 215, 43) ! important; }  /* Catholica      */
.variantWWIV_V6 .country8  { color: rgb(0, 250, 44) ! important; }  /* Central-Asia   */
.variantWWIV_V6 .country9  { color: rgb(185, 185, 185) ! important; }  /* Colombia       */
.variantWWIV_V6 .country10 { color: rgb(255, 141, 101) ! important; }  /* Congo          */
.variantWWIV_V6 .country11 { color: rgb(255, 156, 0) ! important; }  /* Cuba           */
.variantWWIV_V6 .country12 { color: rgb(255, 253, 51) ! important; }  /* Egypt          */
.variantWWIV_V6 .country13 { color: rgb(255, 125, 255) ! important; }  /* Germany        */
.variantWWIV_V6 .country14 { color: rgb(163, 163, 163) ! important; }  /* Illinois       */
.variantWWIV_V6 .country15 { color: rgb(255, 129, 209) ! important; }  /* Inca-Empire    */
.variantWWIV_V6 .country16 { color: rgb(169, 167, 68) ! important; }  /* India          */
.variantWWIV_V6 .country17 { color: rgb(71, 251, 151) ! important; }  /* Indonesia      */
.variantWWIV_V6 .country18 { color: rgb(255, 145, 214) ! important; }  /* Iran           */
.variantWWIV_V6 .country19 { color: rgb(92, 172, 255) ! important; }  /* Japan          */
.variantWWIV_V6 .country20 { color: rgb(18, 200, 202) ! important; }  /* East-Africa    */
.variantWWIV_V6 .country21 { color: rgb(66, 188, 190) ! important; }  /* Manchuria      */
.variantWWIV_V6 .country22 { color: rgb(140, 186, 28) ! important; }  /* Mexico         */
.variantWWIV_V6 .country23 { color: rgb(161, 161, 161) ! important; }  /* Nigeria        */
.variantWWIV_V6 .country24 { color: rgb(197, 251, 67) ! important; }  /* Oceania        */
.variantWWIV_V6 .country25 { color: rgb(255, 135, 135) ! important; }  /* Philippines    */
.variantWWIV_V6 .country26 { color: rgb(87, 188, 98) ! important; }  /* Quebec         */
.variantWWIV_V6 .country27 { color: rgb(162, 166, 254) ! important; }  /* Russia         */
.variantWWIV_V6 .country28 { color: rgb(255, 136, 139) ! important; }  /* Sichuan-Empire */
.variantWWIV_V6 .country29 { color: rgb(237, 150, 64) ! important; }  /* Song-Empire    */
.variantWWIV_V6 .country20 { color: rgb(24, 205, 131) ! important; }  /* South-Africa   */
.variantWWIV_V6 .country31 { color: rgb(150, 156, 233) ! important; }  /* Texas          */
.variantWWIV_V6 .country32 { color: rgb(255, 131, 200) ! important; }  /* Thailand       */
.variantWWIV_V6 .country33 { color: rgb(155, 155, 255) ! important; }  /* Turkey         */
.variantWWIV_V6 .country34 { color: rgb(255, 216, 78) ! important; }  /* United-Kingdom */
.variantWWIV_V6 .country35 { color: rgb(186, 183, 108) ! important; }  /* United-States  */
.variantWWIV_V6 .country35 { color: rgb(194, 150, 185) ! important; }  /* Saudi-Arabia   */

.variantWWIV_V6 .occupationBar1  { background-color: #0a23c0; } /* Amazon-Empire  */
.variantWWIV_V6 .occupationBar2  { background-color: #c49612; } /* Argentina      */
.variantWWIV_V6 .occupationBar3  { background-color: #0a31ff; } /* Australia      */
.variantWWIV_V6 .occupationBar4  { background-color: #6f0d03; } /* Brazil         */
.variantWWIV_V6 .occupationBar5  { background-color: #6d1367; } /* California     */
.variantWWIV_V6 .occupationBar6  { background-color: #515100; } /* Canada         */
.variantWWIV_V6 .occupationBar7  { background-color: #00c81c; } /* Catholica      */
.variantWWIV_V6 .occupationBar8  { background-color: #00fa2c; } /* Central-Asia   */
.variantWWIV_V6 .occupationBar9  { background-color: #b9b9b9; } /* Colombia       */
.variantWWIV_V6 .occupationBar10 { background-color: #d73911; } /* Congo          */
.variantWWIV_V6 .occupationBar11 { background-color: #ff9c00; } /* Cuba           */
.variantWWIV_V6 .occupationBar12 { background-color: #fffd33; } /* Egypt          */
.variantWWIV_V6 .occupationBar13 { background-color: #eb53e9; } /* Germany        */
.variantWWIV_V6 .occupationBar14 { background-color: #fefefe; } /* Illinois       */
.variantWWIV_V6 .occupationBar15 { background-color: #fb3383; } /* Inca-Empire    */
.variantWWIV_V6 .occupationBar16 { background-color: #73710e; } /* India          */
.variantWWIV_V6 .occupationBar17 { background-color: #47fb97; } /* Indonesia      */
.variantWWIV_V6 .occupationBar18 { background-color: #ff91d6; } /* Iran           */
.variantWWIV_V6 .occupationBar19 { background-color: #4797fb; } /* Japan          */
.variantWWIV_V6 .occupationBar20 { background-color: #00b6b8; } /* East-Africa    */
.variantWWIV_V6 .occupationBar21 { background-color: #007a7c; } /* Manchuria      */
.variantWWIV_V6 .occupationBar22 { background-color: #8cba1c; } /* Mexico         */
.variantWWIV_V6 .occupationBar23 { background-color: #686868; } /* Nigeria        */
.variantWWIV_V6 .occupationBar24 { background-color: #c5fb43; } /* Oceania        */
.variantWWIV_V6 .occupationBar25 { background-color: #ff0000; } /* Philippines    */
.variantWWIV_V6 .occupationBar26 { background-color: #00650b; } /* Quebec         */
.variantWWIV_V6 .occupationBar27 { background-color: #a2a6fe; } /* Russia         */
.variantWWIV_V6 .occupationBar28 { background-color: #ff6a6d; } /* Sichuan-Empire */
.variantWWIV_V6 .occupationBar29 { background-color: #b7600a; } /* Song-Empire    */
.variantWWIV_V6 .occupationBar30 { background-color: #00b56b; } /* South-Africa   */
.variantWWIV_V6 .occupationBar31 { background-color: #5a60ad; } /* Texas          */
.variantWWIV_V6 .occupationBar32 { background-color: #c32368; } /* Thailand       */
.variantWWIV_V6 .occupationBar33 { background-color: #1414a2; } /* Turkey         */
.variantWWIV_V6 .occupationBar34 { background-color: #ffd84e; } /* United-Kingdom */
.variantWWIV_V6 .occupationBar35 { background-color: #bab76c; } /* United-States  */
.variantWWIV_V6 .occupationBar35 { background-color: #a87e9f; }  /* Saudi-Arabia   */
