@CHARSET "ISO-8859-1";

.variantSouthAmerica4 .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global    */
.variantSouthAmerica4 .country1 { color: rgb(228, 117, 203) ! important; } /* Argentina */
.variantSouthAmerica4 .country2 { color: rgb(107, 179, 203) ! important; } /* Brazil    */
.variantSouthAmerica4 .country3 { color: rgb(186, 176, 9) ! important; } /* Chile     */
.variantSouthAmerica4 .country4 { color: rgb(121, 192, 98) ! important; } /* Colombia  */

.variantSouthAmerica4 .occupationBar1 { background-color: #EFC4E4; } /* Argentina */
.variantSouthAmerica4 .occupationBar2 { background-color: #79AFC6; } /* Brazil    */
.variantSouthAmerica4 .occupationBar3 { background-color: #EAEAAF; } /* Chile     */
.variantSouthAmerica4 .occupationBar4 { background-color: #A4C499; } /* Colombia  */

