@CHARSET "ISO-8859-1";

.variantPure .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Neutral */
.variantPure .country1 { color: rgb(231, 130, 130) ! important; } /* Austria */
.variantPure .country2 { color: rgb(228, 117, 203) ! important; } /* England */
.variantPure .country3 { color: rgb(107, 179, 203) ! important; } /* France  */
.variantPure .country4 { color: rgb(189, 152, 126) ! important; } /* Germany */
.variantPure .country5 { color: rgb(121, 192, 98) ! important; } /* Italy   */
.variantPure .country6 { color: rgb(190, 140, 182) ! important; } /* Russia  */
.variantPure .country7 { color: rgb(186, 176, 9) ! important; } /* Turkey  */

.variantPure .occupationBar1 { background-color: rgb(197, 146, 136); } /* Austria */
.variantPure .occupationBar2 { background-color: #EFC4E4; } /* England */
.variantPure .occupationBar3 { background-color: #79AFC6; } /* France  */
.variantPure .occupationBar4 { background-color: rgb(175, 156, 139); } /* Germany */
.variantPure .occupationBar5 { background-color: #A4C499; } /* Italy   */
.variantPure .occupationBar6 { background-color: rgb(182, 146, 174); } /* Russia  */
.variantPure .occupationBar7 { background-color: #EAEAAF; } /* Turkey  */

