@CHARSET "ISO-8859-1";

.variantScottish_Clan_Wars .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Neutral */
.variantScottish_Clan_Wars .country1 { color: rgb(231, 130, 130) ! important; } /* Edinburgh */
.variantScottish_Clan_Wars .country2 { color: rgb(107, 179, 203) ! important; } /* Glasgow */
.variantScottish_Clan_Wars .country3 { color: rgb(186, 176, 9) ! important; } /* Dundee */
.variantScottish_Clan_Wars .country4 { color: rgb(190, 140, 182) ! important; } /* Aberdeen */
.variantScottish_Clan_Wars .country5 { color: rgb(228, 117, 203) ! important; } /* Orkney Islands */
.variantScottish_Clan_Wars .country6 { color: rgb(121, 192, 98) ! important; } /* Outer Hebrides */
.variantScottish_Clan_Wars .country7 { color: rgb(189, 152, 126) ! important; } /* Kintyre */

.variantScottish_Clan_Wars .occupationBar1 { background-color: rgb(197, 146, 136); } /* Edinburgh */
.variantScottish_Clan_Wars .occupationBar2 { background-color: #79AFC6; } /* Glasgow */
.variantScottish_Clan_Wars .occupationBar3 { background-color: #EAEAAF; } /* Dundee */
.variantScottish_Clan_Wars .occupationBar4 { background-color: rgb(182, 146, 174); } /* Aberdeen */
.variantScottish_Clan_Wars .occupationBar5 { background-color: #EFC4E4; } /* Orkney Islands */
.variantScottish_Clan_Wars .occupationBar6 { background-color: #A4C499; } /* Outer Hebrides */
.variantScottish_Clan_Wars .occupationBar7 { background-color: rgb(175, 156, 139); } /* Kintyre */
