@CHARSET "ISO-8859-1";

.variantWhoControlsAmerica .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global  */
.variantWhoControlsAmerica .country1 { color: rgb(228, 117, 203) ! important; } /* Liberal Interests */
.variantWhoControlsAmerica .country2 { color: rgb(125, 172, 192) ! important; } /* Republican Party  */
.variantWhoControlsAmerica .country3 { color: rgb(121, 192, 98) ! important; } /* The Military   */
.variantWhoControlsAmerica .country4 { color: rgb(170, 157, 149) ! important; } /* Corporate America */
.variantWhoControlsAmerica .country5 { color: rgb(231, 130, 130) ! important; } /* Democratic Party */
.variantWhoControlsAmerica .country6 { color: rgb(139, 165, 190) ! important; } /* Conservative Interests  */
.variantWhoControlsAmerica .country7 { color: rgb(190, 140, 182) ! important; } /* The Underworld  */
.variantWhoControlsAmerica .country8 { color: rgb(186, 176, 9) ! important; } /* Secret Societies  */

.variantWhoControlsAmerica .occupationBar1 { background-color: #EFC4E4; } /* Liberal Interests */
.variantWhoControlsAmerica .occupationBar2 { background-color: #79AFC6; } /* Republican Party  */
.variantWhoControlsAmerica .occupationBar3 { background-color: #A4C499; } /* The Military   */
.variantWhoControlsAmerica .occupationBar4 { background-color: rgb(175, 156, 139); } /* Corporate America */
.variantWhoControlsAmerica .occupationBar5 { background-color: rgb(197, 146, 136); } /* Democratic Party */
.variantWhoControlsAmerica .occupationBar6 { background-color: rgb(141, 162, 199); } /* Conservative Interests  */
.variantWhoControlsAmerica .occupationBar7 { background-color: rgb(182, 146, 174); } /* The Underworld  */
.variantWhoControlsAmerica .occupationBar8 { background-color: #EAEAAF; } /* Secret Societies  */