@CHARSET "ISO-8859-1";

.variantEmpiresCoalitions .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Neutral */
.variantEmpiresCoalitions .country1 { color: rgb(160, 160, 160) ! important; } /* Austria */
.variantEmpiresCoalitions .country2 { color: rgb(231, 130, 130) ! important; } /* Britain */
.variantEmpiresCoalitions .country3 { color: rgb(182, 148, 163) ! important; } /* Denmark */
.variantEmpiresCoalitions .country4 { color: rgb(149, 157, 204) ! important; } /* France */
.variantEmpiresCoalitions .country5 { color: rgb(167, 161, 137) ! important; } /* Ottoman Empire */
.variantEmpiresCoalitions .country6 { color: rgb(129, 169, 197) ! important; } /* Prussia */
.variantEmpiresCoalitions .country7 { color: rgb(116, 189, 125) ! important; } /* Russia */
.variantEmpiresCoalitions .country8 { color: rgb(213, 125, 201) ! important; } /* Sicily */
.variantEmpiresCoalitions .country9 { color: rgb(180, 164, 85) ! important; } /* Spain */

.variantEmpiresCoalitions .occupationBar1 { background-color: #C6C6C6; } /* Austria */
.variantEmpiresCoalitions .occupationBar2 { background-color: rgb(255, 119, 119); } /* Britain */
.variantEmpiresCoalitions .occupationBar3 { background-color: rgb(191, 143, 164); } /* Denmark */
.variantEmpiresCoalitions .occupationBar4 { background-color: #91A1FF; } /* France */
.variantEmpiresCoalitions .occupationBar5 { background-color: rgb(169, 162, 126); } /* Ottoman Empire */
.variantEmpiresCoalitions .occupationBar6 { background-color: rgb(111, 174, 219); } /* Prussia */
.variantEmpiresCoalitions .occupationBar7 { background-color: #7FFF8E; } /* Russia */
.variantEmpiresCoalitions .occupationBar8 { background-color: rgb(255, 97, 233); } /* Sicily */
.variantEmpiresCoalitions .occupationBar9 { background-color: #FFD800; } /* Spain */
