@CHARSET "ISO-8859-1";
	
.variantClassicGreyPress .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global  */
.variantClassicGreyPress .country1 { color: rgb(229, 124, 205) ! important; } /* England */
.variantClassicGreyPress .country2 { color: rgb(111, 180, 204) ! important; } /* France  */
.variantClassicGreyPress .country3 { color: rgb(132, 197, 111) ! important; } /* Italy   */
.variantClassicGreyPress .country4 { color: rgb(189, 151, 126) ! important; } /* Germany */
.variantClassicGreyPress .country5 { color: rgb(231, 134, 134) ! important; } /* Austria */
.variantClassicGreyPress .country6 { color: rgb(184, 173, 0) ! important; } /* Turkey  */
.variantClassicGreyPress .country7 { color: rgb(194, 147, 186) ! important; } /* Russia  */
.variantClassicGreyPress .country8 { color: rgb(153, 153, 153) ! important; } /* Russia  */

.variantClassicGreyPress .occupationBar1 { background-color: rgb(239, 196, 228); } /* England */
.variantClassicGreyPress .occupationBar2 { background-color: rgb(121, 175, 198); } /* France  */
.variantClassicGreyPress .occupationBar3 { background-color: rgb(164, 196, 153); } /* Italy   */
.variantClassicGreyPress .occupationBar4 { background-color: rgb(183, 167, 151); } /* Germany */
.variantClassicGreyPress .occupationBar5 { background-color: rgb(196, 143, 133); } /* Austria */
.variantClassicGreyPress .occupationBar6 { background-color: rgb(234, 234, 175); } /* Turkey  */
.variantClassicGreyPress .occupationBar7 { background-color: rgb(189, 158, 183); } /* Russia  */
