@CHARSET "ISO-8859-1";

.variantEmpire1on1 .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global      */
.variantEmpire1on1 .country1 { color: rgb(161, 160, 160) ! important; } /* Confederacy */
.variantEmpire1on1 .country2 { color: rgb(144, 165, 175) ! important; } /* Union       */

.variantEmpire1on1 .occupationBar1 { background-color: rgb(161, 160, 160); }  /* Confederacy */
.variantEmpire1on1 .occupationBar2 { background-color: rgb(140, 167, 179); }  /* Union       */