@CHARSET "ISO-8859-1";

.variantMigraine .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global */
.variantMigraine .country1 { color: rgb(121, 192, 98) ! important; } /* Beta   */
.variantMigraine .country2 { color: rgb(107, 179, 203) ! important; } /* Delta  */
.variantMigraine .country3 { color: rgb(142, 166, 176) ! important; } /* Gamma  */
.variantMigraine .country4 { color: rgb(231, 130, 130) ! important; } /* Kappa  */
.variantMigraine .country5 { color: rgb(206, 149, 96) ! important; } /* Lambda */
.variantMigraine .country6 { color: rgb(186, 176, 9) ! important; } /* Sigma  */
.variantMigraine .country7 { color: rgb(190, 140, 182) ! important; } /* Theta  */
.variantMigraine .country8 { color: rgb(139, 177, 126) ! important; } /* Zeta   */

.variantMigraine .occupationBar1 { background-color: #A4C499; } /* Beta   */
.variantMigraine .occupationBar2 { background-color: #79AFC6; } /* Delta  */
.variantMigraine .occupationBar3 { background-color: rgb(140, 167, 179); } /* Gamma  */
.variantMigraine .occupationBar4 { background-color: rgb(197, 146, 136); } /* Kappa  */
.variantMigraine .occupationBar5 { background-color: #ce9967; } /* Lambda */
.variantMigraine .occupationBar6 { background-color: #EAEAAF; } /* Sigma  */
.variantMigraine .occupationBar7 { background-color: rgb(182, 146, 174); } /* Theta  */
.variantMigraine .occupationBar8 { background-color: rgb(147, 171, 138); } /* Zeta   */
